DB_HOST="localhost"
DB_NAME="myrss"
DB_USERNAME="dev"
DB_PASSWORD="dev"
DB_ROOT_PASSWORD="root"

YTB_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
RESEND_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
RESEND_EMAIL="myrss@gatiendev.fr"

DOMAIN="http://localhost"