div.articles{
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div.article-header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight: 500;
    height: 68px;
    padding-left: 16px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

div#container-articles{
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    border-right: 1px solid var(--border-color);
    height: 100%;
}

div.article{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px 12px 6px 12px;
    border-bottom: 1px solid var(--border-color);
}

span.bordure{
    position: absolute;
    height: 100%;
    left: 0;
    width: 3px;
    background-color: var(--highlight-color);
    top: 0;
    opacity: 0;
}

div.article-actif > span.bordure{
    opacity: 1;
}

div.article-non-lu > div > span.titre{
    font-weight: 500;
}

div.article-non-lu > div > span.non-lu{
    opacity: 1;
}

div.est-traite > div > span.non-lu{
    background-color: #29d634;
    opacity: 1;
}

div.est-traite > span.bordure{
    background-color: #29d634;
}

div.est-traite.article-actif > div > span.titre {
    color: black;
}

div.article-actif > div > span.titre{
    color: var(--highlight-text-color);
    font-weight: 500;
}

div.article:hover{
    background-color: #fafafa;
    cursor: pointer;
}

div.titre-description{
    display: flex;
    flex-direction: column;
}

span.titre{
    font-size: 14px;
    line-height: 20px;
    height: auto;
    width: auto;
}


span.description{
    overflow: hidden;
    line-height: 16px;
    height: 32px;
    margin-top: 4px;
    font-size: 13px;
    color: #707070;
}

div.banner{
    height: 16px;
    padding: 6px 0;
    display: flex;
    align-items: center;
}

div.banner>img{
    margin-right: 8px;
}

span.source{
    color: rgb(112, 112, 112);
    font-size: 12px;
    margin-right: 10px;
}

span.date{
    color: rgb(112, 112, 112);
    font-size: 12px;
}

span.non-lu{
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background-color: var(--highlight-color);
    height: 8px;
    width: 8px;
    opacity: 0;
}

div#container_pagination{
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

div#container_pagination>button{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
}

div#container_pagination>span{
    border-radius: 4px;
    height: 24px;
    width: 24px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}