* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans';
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 239, 240);
    font-family: 'Fira Sans';
}

div.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    padding: 8px 16px;
}

div.login{
    color: rgb(112, 112, 112);
    font-size: 14px;
    display: flex;
    align-items: center;
}
/* 
div.login:hover{
    cursor: pointer;
    text-decoration: underline;
} */

div.login>span{
    margin-right: 6px;
}

div.login>a{
    text-decoration: none;
    color: rgb(91, 78, 207);
    font-weight: 500;
}

form{
    padding: 36px;
    background-color: white;
    border-radius: 15px;
    box-shadow: (0, 0, 0, 0.1) 0px 8px 20px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    letter-spacing: -0.54px;
    font-weight: 800;
}

input{
    margin-bottom: 12px;
    line-height: 28.8px;
    border-radius: 10px;
    font-size: 16px;
    width: 286px;
    padding: 8px 16px;
    border: 1px solid rgb(204, 204, 204);
}

input[type="submit"]{
    width: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: 500;
    background-color: rgb(91, 78, 207);
    cursor: pointer;
}

form>p{
    text-align: center;
    font-size: 14px;
    color: rgb(108, 117, 125);
}

form>p>a{
    text-decoration: none;
    color: rgb(91, 78, 207);
}

