body{
    grid-template-columns: 96px auto;
}

div.container{
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
    padding: 50px 200px;
}

section{
    margin-top: 30px;
}

article{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

section#navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

section#navigation>a{
    cursor: pointer;
    font-weight: 450;
    transition: all .2s ease-in-out;
}

section#navigation>a:hover{
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
}