body{
    grid-template-columns: 96px auto;
}

div.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
}

h1{
    font-size: 2.5rem;
}

span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

span>div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 10rem;
}

input, select{
    border-radius: .25rem;
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-background-color);
}

input#text{
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 450;
    width: 100%;
    padding: .5rem;
}

input#debut, input#fin, select{
    padding: .25rem;
}

input#valider{
    cursor: pointer;
    padding: .75rem;
    font-size: 20px;
    font-weight: 500;
    transition: all .2s ease-in-out;
    background-color: var(--highlight-color);
    border: 1px solid var(--highlight-border-color);
    color: white;
}

input#valider:hover{
}